<!DOCTYPE html>
<html lang="en">

<head>
  <title>HelloClient!</title>
  <link rel="shortcut icon" href="/img/hc.PNG" type="image/x-icon"/>
  <meta charset="UTF-8">
  <meta name="description" content="HelloClient Portfolio Template">
  <meta name="keywords" content="onepage, portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="font/stylesheet.css" />
  <link rel="stylesheet" href="css/style.css" />

  <!--[if lt IE 9]>
  	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  	<![endif]-->

  <!-- Font icons -->
  <link rel="stylesheet" href="icon-fonts/fontawesome-5.0.6/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="icon-fonts/flat-icon/flaticon.css" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap" rel="stylesheet">

</head>

<body>



  <!-- HEADER 
==================================================-->
  <header>
    <!-- Logo -->
    <div class="logo">
      <h3 style="color: #34b1c4 !important;">Hello<span style="color: white;">Client!</span></h3>
    </div>
    <div class="nav-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- Navigation -->
    <nav>
      <ul>
        <li><a href="#hero"><span data-hover="Home">Home</span></a></li>
        <li><a href="#about"><span data-hover="About">About</span></a></li>
        <li><a href="#services"><span data-hover="Services">Services</span></a></li>
        <li><a href="#testimonials"><span data-hover="Testimonials">Testimonials</span></a></li>
        <li><a href="#portfolio"><span data-hover="Portfolio">Portfolio</span></a></li>
        <li><a href="#news"><span data-hover="News">News</span></a></li>
        <li><a href="#contact"><span data-hover="Contact">Contact</span></a></li>
      </ul>
    </nav>
  </header>

  <div class="wrapper">

    <!-- SLIDER 
==================================================-->
    <div class="hero" id="hero">
      <!-- Swiper -->
      <div class="swiper-container upslide">
        <div class="swiper-wrapper">
          <!-- a slide -->
          <div class="swiper-slide" style="background-image:url(img/slide1.jpg)">
            <div class="slider-content">
              <span>Do we make</span>
              <h1>Websites ?</h1>
              <a href="#about" class="site-btn top_30">SEE MORE</a>
            </div>
          </div>
          <!-- a slide -->
          <div class="swiper-slide" style="background-image:url(img/slide2.jpg)">
            <div class="slider-content">
              <span>Do we make</span>
              <h1>Content ?</h1>
              <a href="#about" class="site-btn top_30">SEE MORE</a>
            </div>
          </div>
          <!-- a slide -->
          <div class="swiper-slide" style="background-image:url(img/slide3.jpg)">
            <div class="slider-content">
              <span>Do we make</span>
              <h1>C.M.S ?</h1>
              <a href="#about" class="site-btn top_30">SEE MORE</a>
            </div>
          </div>
          <!-- a slide -->
          <div class="swiper-slide" style="background-image:url(img/slide4.jpg)">
            <div class="slider-content">
              <span>Do we make</span>
              <h1>Hosting ?</h1>
              <a href="#about" class="site-btn top_30">SEE MORE</a>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div> <!-- Swiper Container end -->
      <!-- Social Links -->
      <div class="social">
        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i> </a>
        <a href="#"><i class="fab fa-behance" aria-hidden="true"></i> </a>
        <a href="#"><i class="fab fa-facebook"></i> </a>
        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
      </div>

    </div>

    <!-- ABOUT 
==================================================-->
    <section id="about" class="about">
      <div class="container wow fadeInUp">
        <div class="row">
          <!-- Left Side -->
          <div class="col-lg-7 text box-animation">
            <div class="section-title bottom_15 top_30">
              <h2 class="title">About us.</h2>
              <span>who we are</span>
            </div>
            <p style="text-align: justify;">HelloClient! is a full-service web design and development company with a
              team of experienced website designers, developers and digital strategists. Through our quality driven
              solutions we deliver measurable outcomes that empower our clients & also we have worked with many clients
              and established ourselves as one of the most trusted solution providers for businesses.</p>
            <a href="#portfolio" class="site-btn top_30">SEE PORTFOLIO</a>
          </div>
          <!-- Right Side -->
          <div class="col-lg-5 image">
            <figure>
              <img src="img/aboutus.PNG">
            </figure>
          </div>
        </div> <!-- row end -->
        <div class="row top_60 infos">
          <div class="col-lg-4 info">
            <h3 class="second-title">Who we are</h3>
            <p style="text-align: justify;">At HelloClient!, we design and build world-class responsive websites for
              businesses of all sizes. Fueled
              by
              the perfect formula carefully developed by our experts. We’re a high performing team that finds meaning in
              everything we do.</p>
          </div>
          <div class="col-lg-4 info">
            <h3 class="second-title">Our philosophy</h3>
            <p style="text-align: justify;">Our philosophy is to ensure that there is a constant flow of
              respect for client to support for our mutual success in the form of providing
              resources necessary to get the job done to the best of everyone’s ability.</p>
          </div>
          <div class="col-lg-4 info">
            <h3 class="second-title">How we work</h3>
            <p style="text-align: justify;">Our proposals outline exactly what you’re getting and how much it will cost.
              If your needs change, we’ll discuss it and agree to a new scope. No surprise invoices. No secret scope
              creep. No complex billing structures.</p>
          </div>
        </div>
      </div> <!-- container end -->
    </section>

    <!-- SERVICES 
==================================================-->
    <section id="services" class="services graybg">
      <div class="container wow fadeInUp">
        <div class="section-title bottom_15 top_30">
          <h2 class="title">Our services.</h2>
          <span>what we serve !</span>
        </div>
        <!-- Services -->
        <div class="row">
          <!-- a service -->
          <div class="col-lg-4">
            <div class="service">
              <i class="flaticon-041-computer"></i>
              <h3 class="second-title">Web Design</h3>
              <p style="text-align: justify;">We explore potential website design concepts for cross device experiences
                through wireframes and
                digital prototypes.</p>
            </div>
          </div>
          <!-- a service -->
          <div class="col-lg-4">
            <div class="service">
              <i class="flaticon-027-pencil"></i>
              <h3 class="second-title">Responsive Design</h3>
              <p style="text-align: justify;">We provide responsive web design solutions to promote engagement and
                deliver simple, intuitive and
                delightful experiences across all devices.</p>
            </div>
          </div>
          <!-- a service -->
          <div class="col-lg-4">
            <div class="service">
              <i class="flaticon-001-rgb"></i>
              <h3 class="second-title">Content Strategy</h3>
              <p style="text-align: justify;">We at HelloClient! provide detailed content strategy and copywriting
                services to drive
                leads and conversion through
                your website.</p>
            </div>
          </div>
          <!-- a service -->
          <div class="col-lg-4">
            <div class="service">
              <i class="flaticon-007-camera-roll"></i>
              <h3 class="second-title">C.M.S</h3>
              <p style="text-align: justify;">We offer a wide range of Content Management Systems, including familiar
                names such as WordPress,
                Joomla, Drupal, Magento and loads more.</p>
            </div>
          </div>
          <!-- a service -->
          <div class="col-lg-4">
            <div class="service">
              <i class="flaticon-034-video-camera"></i>
              <h3 class="second-title">Hosting & Maintenance</h3>
              <p style="text-align: justify;">We offer great hosting packages with top-level service from our website
                design team. Or we can help
                deploy your website wherever you like, no worries.</p>
            </div>
          </div>
          <!-- a service -->
          <div class="col-lg-4">
            <div class="service">
              <i class="flaticon-038-origami"></i>
              <h3 class="second-title">24/7 Support</h3>
              <p style="text-align: justify;">We at HelloClient!, provides around the 24/7 support to enhance its
                customer support, which can ensure
                websites with free updates.</p>
            </div>
          </div>
        </div>
        <!-- Counter -->
        <div id="counter" class="top_90 counter">
          <div class="row">
            <div class="col-lg-4 col-md-4 count">
              <div class="counter-value" data-count="120">0</div>
              <h4 class="title">Happy<br>CLIENTS</h4>
            </div>
            <div class="col-lg-4 col-md-4 count">
              <div class="counter-value" data-count="110">0</div>
              <h4 class="title">EMPLOYEES<br>ON WORLDWIDE</h4>
            </div>
            <div class="col-lg-4 col-md-4 count">
              <div class="counter-value" data-count="130">0</div>
              <h4 class="title">PROJECTS COMPLETED ON<br>10 COUNTRIES</h4>
            </div>
          </div> <!-- row end -->
        </div> <!-- counter end -->
      </div> <!-- container end-->
    </section>

    <!-- TESTIMONIALS 
==================================================-->
    <section class="testimonial" id="testimonials">
      <div class="container wow fadeInUp">
        <div class="section-title bottom_15 top_30">
          <h2 class="title">Testimonials.</h2>
          <span>what clients are saying about us !</span>
        </div>
        <div class="owl-carousel owl-theme testimonials" data-autoplay="true" data-items-desktop="3"
          data-items-desktop-small="3" data-items-tablet="2" data-items-tablet-small="1" data-margin="30">
          <!-- a comment -->
          <div class="item">
            <div class="outitem">
              <figure><img src="img/team1.jpg"></figure>
              <div class="name">
                <h3 class="title">John Doe</h3>
                <span>Customer</span>
              </div>
              <p>"Thanks for the great service. It's the perfect solution for our business. Since I invested in
                tavonline I made over 100,000 dollars profits. You guys rock!"</p>
            </div>
          </div>
          <!-- a comment -->
          <div class="item">
            <div class="outitem">
              <figure><img src="img/team2.jpg"></figure>
              <div class="name">
                <h3 class="title">Christina John</h3>
                <span>Customer</span>
              </div>
              <p>"Thanks for the great service. It's the perfect solution for our business. Since I invested in
                tavonline I made over 100,000 dollars profits. You guys rock!"</p>
            </div>
          </div>
          <!-- a comment -->
          <div class="item">
            <div class="outitem">
              <figure><img src="img/team3.jpg"></figure>
              <div class="name">
                <h3 class="title">Williams S Jay</h3>
                <span>Customer</span>
              </div>
              <p>"Thanks for the great service. It's the perfect solution for our business. Since I invested in
                tavonline I made over 100,000 dollars profits. You guys rock!"</p>
            </div>
          </div>
          <!-- a comment -->
          <div class="item">
            <div class="outitem">
              <figure><img src="img/team4.jpg"></figure>
              <div class="name">
                <h3 class="title">Sara Carie</h3>
                <span>Customer</span>
              </div>
              <p>"Thanks for the great service. It's the perfect solution for our business. Since I invested in
                tavonline I made over 100,000 dollars profits. You guys rock!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PORTFOLIO 
================================================== -->
    <section id="portfolio" class="portfolio graybg">
      <div class="container wow fadeInUp">
        <div class="col-lg-12">
          <div class="section-title bottom_15 top_30">
            <h2 class="title">Our portfolio.</h2>
            <span>how our work look like !</span>
          </div>
          <!-- Filter -->
          <div class="portfolio_filter">
            <ul>
              <li><a class="select-cat" data-filter="*" href="#">All Works</a></li>
            </ul>
          </div>
        </div>
        <!-- Portfolio -->
        <div class="row masonry clearfix">
          <!-- a work -->
          <a href="#" class="col-lg-4 col-sm-6 grid-item photography video-icon">
            <figure class="portfolio-item">
              <img src="img/work1.jpg" alt="" />
              <figcaption>
                <h3 class="title">Loud Website</h3>
                <span>Website </span>
              </figcaption>
            </figure>
          </a>
          <!-- a work -->
          <a href="#" class="col-lg-4 col-sm-6 grid-item photography video-icon">
            <figure class="portfolio-item">
              <img src="img/work2.jpg" alt="" />
              <figcaption>
                <h3 class="title">Loud Website</h3>
                <span>Website </span>
              </figcaption>
            </figure>
          </a>
          <!-- a work -->
          <a href="#" class="col-lg-4 col-sm-6 grid-item photography video-icon">
            <figure class="portfolio-item">
              <img src="img/work3.jpg" alt="" />
              <figcaption>
                <h3 class="title">Loud Website</h3>
                <span>Website </span>
              </figcaption>
            </figure>
          </a>
          <!-- a work -->
          <a href="#" class="col-lg-4 col-sm-6 grid-item photography video-icon">
            <figure class="portfolio-item">
              <img src="img/work4.jpg" alt="" />
              <figcaption>
                <h3 class="title">Loud Website</h3>
                <span>Website </span>
              </figcaption>
            </figure>
          </a>
          <!-- a work -->
          <a href="#" class="col-lg-4 col-sm-6 grid-item photography video-icon">
            <figure class="portfolio-item">
              <img src="img/work5.jpg" alt="" />
              <figcaption>
                <h3 class="title">Loud Website</h3>
                <span>Website </span>
              </figcaption>
            </figure>
          </a>
          <!-- a work -->
          <a href="#" class="col-lg-4 col-sm-6 grid-item photography video-icon">
            <figure class="portfolio-item">
              <img src="img/work6.jpg" alt="" />
              <figcaption>
                <h3 class="title">Loud Website</h3>
                <span>Website </span>
              </figcaption>
            </figure>
          </a>
        </div> <!--  masonry end -->

        <div class="text-center load-more" data-wow-delay="0.2s">
          <button class="site-btn" data-tilt=""> LOAD MORE
            <i class="icon ion-md-arrow-down"></i>
          </button>
          <ul id="pagination-selector" class="portfolio-pagination list-inline d-none">
            <li class="list-inline-item">1</li>
            <li class="list-inline-item"><a href="loadmore.html">2</a></li>
          </ul>
        </div>

      </div> <!-- container end -->
    </section>


    <!-- NEWSLETTER 
================================================== -->
    <section class="newsletter imagebg text-center">
      <div class="container">
        <div class="section-title center bottom_15 top_30 bottom_45">
          <h2 class="title">Our newsletter.</h2>
          <span>Get in touch with us !</span>
        </div>
        <p>Contact us today and discuss, how we can develop a mutually beneficial and long term relationship!</p>
        <div class="col-lg-8 offset-lg-2">
          <input class="emailput" placeholder="Your email">
        </div>
        <button type="submit" placeholder="SEND" href="#" class="site-btn top_30">SUBSCRIBE</button>
      </div>
    </section>

    <!-- OUR NEWS 
================================================== -->
    <section id="news" class="news">
      <div class="container wow fadeInUp">
        <div class="section-title bottom_15 top_30 bottom_45">
          <h2 class="title">Our news.</h2>
          <span>How we got updated !</span>
        </div>
        <div class="row">
          <!-- anews -->
          <div class="col-lg-4">
            <a class="anews" href="https://en.wikipedia.org/wiki/Blockchain">
              <div class="image" style="background-image:url(img/news1.jpg)"></div>
              <div class="date">
                <h3 class="big">01</h3>
                <span class="little">August, 14</span>
              </div>
              <div class="category">Block Chain</div>
              <h2 class="title">A blockchain is a growing list of records, that are linked using cryptography....</h2>
            </a>
          </div>
          <!-- anews -->
          <div class="col-lg-4">
            <a class="anews" href="https://en.wikipedia.org/wiki/Big_data">
              <div class="image" style="background-image:url(img/news2.jpg)"></div>
              <div class="date">
                <h3 class="big">02</h3>
                <span class="little">November, 15</span>
              </div>
              <div class="category">Big Data</div>
              <h2 class="title">Big data is a field that treats ways to analyze, systematically extract information...
              </h2>
            </a>
          </div>
          <!-- anews -->
          <div class="col-lg-4">
            <a class="anews" href="https://en.wikipedia.org/wiki/Artificial_intelligence">
              <div class="image" style="background-image:url(img/news3.jpeg)"></div>
              <div class="date">
                <h3 class="big">03</h3>
                <span class="little">December, 15</span>
              </div>
              <div class="category">Artificial Intelligence</div>
              <h2 class="title">In computer science, artificial intelligence, sometimes called machine intelligence...
              </h2>
            </a>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <a href="#" class="site-btn top_30">LOAD MORE</a>
        </div>
      </div>
    </section>

    <!-- CONTACT
================================================== -->
    <section id="contact" class="contact graybg">
      <div class="container wow fadeInUp">
        <div class="section-title bottom_15 top_30 bottom_45">
          <h2 class="title">Contact us.</h2>
          <span>get in touch</span>
        </div>
        <!-- Map -->
        <div class="contact-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36479.43458460815!2d-118.3131125302928!3d34.05808678462837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+Kaliforniya%2C+Birle%C5%9Fik+Devletler!5e0!3m2!1str!2str!4v1551872109031"
            height="450" style="border:0" allowfullscreen=""></iframe>
        </div>

        <div class="getintouch row top_120">
          <!-- contact info -->
          <div class="col-lg-4 contact-info box-animation">
            <!-- info -->
            <div class="info">
              <i class="fas fa-paper-plane"></i>
              <a href="#">hr@helloclient.com</a>
              <p> Email </p>
            </div>
            <!-- info -->
            <div class="info top_30">
              <i class="fas fa-map-marker-alt"></i>
              <p class="text">9697 San Pablo Ave.
                Thomasville<br>NC 27360</p>
              <p> Address </p>
            </div>
            <!-- info -->
            <div class="info top_30">
              <i class="fas fa-phone"></i>
              <a href="#">00 0123456789</a>
              <p> Phone </p>
            </div>
          </div>
          <div class="col-lg-8 contact-form box-animation">
            <!-- contact form -->
            <form class="contact-form">
              <div class="row">
                <!--Name-->
                <div class="col-md-6">
                  <input class="form-inp" type="text" placeholder="Name">
                </div>
                <!--Email-->
                <div class="col-md-6">
                  <input class="form-inp" type="text" placeholder="Email">
                </div>
                <div class="col-md-12">
                  <!--Message-->
                  <textarea placeholder="How can I help you?" rows="7"></textarea>
                  <button id="con_submit" class="site-btn top_45 pull-right" type="submit">SUBMIT</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div> <!-- Container end -->

      <div class="container wow fadeInUp">
        <!-- CLIENTS -->
        <ul class="bxslider">
          <li><img style="width: 85px;height: 40px;" src="img/client1.png" /></li>
          <li><img style="width: 85px;height: 40px;" src="img/client2.png" /></li>
          <li><img style="width: 85px;height: 40px;" src="img/client3.png" /></li>
          <li><img style="width: 85px;height: 40px;" src="img/client4.png" /></li>
          <li><img style="width: 85px;height: 40px;" src="img/client5.png" /></li>
          <li><img style="width: 85px;height: 40px;" src="img/client6.png" /></li>
          <li><img style="width: 85px;height: 40px;" src="img/client7.png" /></li>
        </ul>
      </div>

    </section>

  </div>
  <!-- FOOTER 
================================================== -->
  <footer>
    <div class="container">
      <div class="row">
        <!-- Copyright -->

        <!-- Social -->
        <div class="col-lg-12 ftr-social">
          <h3 style="color: #34b1c4 !important;">Hello<span style="color: white;">Client!</span></h3>
          <p>© 2017 HelloClient!</p>
        </div>
        <!-- Get In Touch -->

      </div>
    </div>
  </footer>
  <!------------- Hide js -->
  <script language="JavaScript">
    /**
     * Disable right-click of mouse, F12 key, and save key combinations on page
     
     */
    window.onload = function () {
      document.addEventListener("contextmenu", function (e) {
        e.preventDefault();
      }, false);
      document.addEventListener("keydown", function (e) {
        //document.onkeydown = function(e) {
        // "I" key
        if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
          disabledEvent(e);
        }
        // "J" key
        if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
          disabledEvent(e);
        }
        // "S" key + macOS
        if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
          disabledEvent(e);
        }
        // "U" key
        if (e.ctrlKey && e.keyCode == 85) {
          disabledEvent(e);
        }
        // "F12" key
        if (event.keyCode == 123) {
          disabledEvent(e);
        }
      }, false);

      function disabledEvent(e) {
        if (e.stopPropagation) {
          e.stopPropagation();
        } else if (window.event) {
          window.event.cancelBubble = true;
        }
        e.preventDefault();
        return false;
      }
    };
  </script>
  <!-- Javascripts -->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

</body>

</html>